<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_0x0CF3_0x3000</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>12288</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_SFLASH_0x0489_0xE027</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57383</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_SFLASH_0x0489_0xE03D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57405</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_SFLASH_0x04F2_0xAFF1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>45041</integer>
			<key>idVendor</key>
			<integer>1266</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_SFLASH_0x0930_0x0215</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>533</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_SFLASH_0x0CF3_0x3002</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>12290</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_SFLASH_0x0CF3_0xE019</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57369</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR3011_SFLASH_0x13D3_0x3304</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>13060</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR9285_MALBEC_SFLASH_0x03F0_0x311D</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>12573</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>AR3001FamilyUSBBluetoothHCIController_AR5BBU12_SFLASH_0x0489_0xE02C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.cjiang.AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOMatchCategory</key>
			<string>AR3001BluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57388</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 cjiang. All rights reserved. </string>
	<key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.kpi.iokit</key>
        <string>16.7</string>
        <key>com.apple.kpi.libkern</key>
        <string>16.7</string>
        <key>com.apple.kpi.mach</key>
        <string>16.7</string>
        <key>com.apple.iokit.IOACPIFamily</key>
        <string>1.0.0</string>
        <key>com.apple.iokit.IOUSBHostFamily</key>
        <string>1.2</string>
        <key>com.apple.iokit.IOBluetoothFamily</key>
        <string>2.0.0</string>
        <key>com.cjiang.Ath3KBluetoothFamily</key>
        <string>1.0.0</string>
        <key>com.apple.iokit.IOBluetoothHostControllerTransport</key>
        <string>1.0.0</string>
        <key>com.apple.iokit.IOBluetoothHostControllerUSBTransport</key>
        <string>1.0.0</string>
	</dict>
</dict>
</plist>
